@media screen and (max-width: 1300px) {
    .container {
        max-width: 1170px;
    }

    .reviews_slide {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reviews_card {
        margin-bottom: 30px;
    }

    .reviews_card:last-child {
        margin-bottom: -30px;
    }

    .reviews_btn {
        display: block;
        margin: 180px auto 0;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    .statistics_cards {
        flex-wrap: wrap;
    }

    .statistics_card {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .statistics_card:last-child {
        margin-bottom: -30px;
    }

    .reviews_btn {
        position: relative;
    }

    .next {
        right: 100px;
        background: #23355d;
        
    }

    .prev {
        left: 100px;
        background:#23355d; 
        z-index: 1;
    }
}

@media screen and (max-width: 1060px) {
    .container {
        max-width: 900px;
    }

    .services_cards {
        flex-wrap: wrap;
    }

    .services_card {
        width: 100%;
        height: auto;
    }

    .services_subtitle {
        width: 100%;
    }

    .services_text {
        width: 100%;
    }

    .works_tabs {
        flex-wrap: wrap;
    }

    .works_content {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .works_content-number {
        font-size: 150px;
        line-height: 160px;
    }
    
    .works_content-text::before {
        display: none;
    }

    .works_card {
        width: 420px;
        height: auto;
    }
}

@media screen and (max-width: 930px) {
    .container {
        max-width: 700px;
    }

    .wrapper {
        flex-wrap: wrap;
    }

    .main {
        padding: 50px 0;
    }

    .main_img {
        width: 100%;
        margin-left: 0;
    }

    .main_content {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .works_tabs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .works_card {
        margin-left: 0;
        margin-right: 0;
        align-self: center;
    }

    .works_content-number {
        display: none;
    }

    .works_content-title {
        display: none;
    }

    .works_content-text {
        display: none;
    }


    .works_text {
        width: 100%;
    }

    .statistics {
        padding: 80px 0;
    }

    .blog_inner {
        flex-wrap: wrap;
        margin-left: 0;
    }

    .blog_img {
        width: 100%;
    }

    .reviews_subtitle {
        width: 100%;
    }

    .blog_img {
        margin-bottom: 30px;
        margin-left: 0px;
        order: 1;
    }

    .blog_content {
        margin-left: 0;
        text-align: center;
        order: 2;
    }

    .blog {
        padding: 0;
    }

    .contacts_inner {
        flex-wrap: wrap;
    }

    .contacts_img {
        width: 100%;
        margin-bottom: 30px;
    }

    .contacts_content {
        width: 100%;
    }

    .contacts {
        padding: 50px 0;
    }

    .contacts_text {
        text-align: center;
    }

    .footer_subscribe {
        flex-direction: column;
    }

    .footer_invite {
        margin-bottom: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .main_title {
        font-size: 30px;
        line-height: 35px;
    }

    .main_subtitle {
        font-size: 20px;
        line-height: 24px;
        margin: 30px 0;
    }

    .main_cta {
        font-size: 20px;
        line-height: 24px;
    }

    .reviews_btn {
        margin-top: 80px;
    }

    .info-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 750px) {
    .container {
        max-width: 550px;
    }

    .header_social, .header_email {
        display: none;
    }

    .header_btn {
        margin: 0 auto;
    }

    .advantages_items {
        flex-wrap: wrap;
    }

    .advantages_item {
        width: 50%;
        margin-bottom: 30px;
    }

    .advantages_icon {
        margin-bottom: 15px;
    }

    .footer_menu {
        flex-wrap: wrap;
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .container {
        max-width: 400px;
    }
    .header_btn {
        display: none;
    }

    .header_inner {
        flex-wrap: wrap;
    }

    .main_title {
        font-size: 24px;
        line-height: 30px;
    }

    .main_subtitle {
        font-size: 18px;
        margin: 20px 0;
    }

    .main_cta {
        font-size: 18px;
    }

    .advantages_title {
        font-size: 24px;
        line-height: 30px;
    }

    .services_title {
        font-size: 24px;
        line-height: 30px;
    }

    .card_title {
        font-size: 18px;
    }

    .statistics_title {
        font-size: 24px;
    }

    .statistics_example {
        font-size: 30px;
    }

    .reviews_title {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    .footer_form {
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }

    .footer_nav {
        font-size: 16px;
    }

    .footer_btn {
        width: 270px;
        margin-top: 20px;
    }

    .footer_icon {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 350px;
    }

    .hamburger {
        background: none;
    }

    .advantages_item {
        width: 100%;
    }

    .reviews_card {
        width: 100%;
        height: auto;
    }
}